/* CSS Document */
.small {
		font-size : 8pt;
}

.alerte {
		color: Red;
}

.activite_0 {
	position:relative;
	left:10;
	top:8;
	width:1024;
	z-index: 0;
	color: Navy;
    background-color : #cceeff;
	font-family : sans-serif;
	font-size : 9pt;
	font-weight : normal;
	margin : 1pt;
	padding : 4px;
	voice-family : male;
	volume : inherit;
	white-space : normal;
}

.activite_1 {
	position:relative;
	left:10;
	top:8;
	width:1024;
	z-index: 0;
	color: Navy;
    background-color : #eeddff;
	font-family : sans-serif;
	font-size : 9pt;
	font-weight : normal;
	margin : 1pt;
	padding : 4px;
	voice-family : male;
	volume : inherit;
	white-space : normal;
}

.saisie_div {
	position:relative;
	/* width:100px; */
	z-index: 1;
	color: Black;
    border:solid 1px black;
    background-color:lightgrey;
	font-family : sans-serif;
	font-size : 9pt;
	font-weight : normal;
	margin : 1pt;
	padding : 4px;
	voice-family : male;
	volume : inherit;
	white-space : normal;
}

