body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt
}

table, tr, td, p, li
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : x-large;
	font-weight : normal;
	font-style : bold;
	color : Blue;
	text-align : center
}

h2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight : normal;
	font-style : bold;
	color : Blue;
}

h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight : normal;
	font-style : normal;
	color : Navy;
}

h4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight : normal;
	font-style : bold;
	color : Navy;
}

h5  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : small;
	font-weight : bold;
	font-style : italic;
	color : Navy;
}

h6  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : normal;
	font-style : normal;
	color : Navy;
}

a:link
{
	text-decoration: none;
	color: #3300aa
}

a:visited
{
	text-decoration: none;
	color: #3300aa
}

a:visited, active
{
	text-decoration: underline;
	color: #3300aa
}


a:hover
{
	text-decoration: underline;
	color: #7700cc
}


.small {
		font-size : smaller;
}
